<p id="notice"><%= notice %></p>

<div><%= link_to "Back to Home", root_path %> </div>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Blog Title</th>
      <th>Created</th>
      <th>Blog Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @blogs %>

  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
