<%= link_to 'Create New Portfolio Item', new_portfolio_url if logged_in? :site_admin %>


<div class="col-sm-8">
  <%= render partial: 'portfolio_item', collection: @portfolio_items %>
</div>
<div class="col-sm-4"></div>

