<div class='masthead clearfix'>
  <div class='inner'>
    <h3 class='masthead-brand'>Jacob Berg
    </h3>
    <nav class='nav nav-masthead'>
      <%= nav_helper 'span', 'nav-link'%>
     <span><%= login_helper('nav-link') %></span>
    </nav>
  </div>
</div>