<footer class="text-muted">

  <div class="container ">
    <p class="text-sm-center"><a href="#">Back to top</a></p>

    <p class="text-sm-center">

    <%= copyright_generator %>
    </p>
  </div>

</footer>