<div class="collapse" id="navbarHeader">

  <div class="container">

    <div class="row">

      <div class="col-sm-8 py-4">

        <h4 class="text-white">About</h4>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aperiam architecto hic modi? Aliquam aliquid aspernatur, aut autem consequatur cupiditate dolor dolorum esse eveniet facilis harum impedit in iure labore libero maiores numquam odio perferendis possimus quae quibusdam quod, similique sint vitae voluptatem. Ad error ex excepturi officiis recusandae?</p>

      </div>


      <div class="col-sm-4 py-4">

        <h4 class="text-white">Explore</h4>

        <ul class="list-unstyled">

          <%= nav_helper 'li', 'text-white' %>
          <li><%= login_helper 'text-white btn btn-sm btn-outline-secondary' %> </li>
        </ul>

      </div>


    </div>

  </div>

</div>

<div class="navbar">

  <div class="container d-flex justify-content-between">

   <%= link_to 'Jacob Berg', root_path,  class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <%= fa_icon 'bars', class: 'portfolio-nav-icons'%>


    </button>

  </div>

</div>