<section class="jumbotron text-center">
  <div class="container">

    <h1 class="jumbotron-heading">Portfolio</h1>

    <p class="lead text-muted">
    Sometimes, one it lucky enough to find something
    that they feel they could not live without. For myself, that was problem solving
    through development. This page reflects my hard work throughout the years. Enjoy.
    </p>

    <p>
      <a href="#" class="btn btn-primary">Main call to action</a>
      <a href="#" class="btn btn-secondary">Secondary action</a>
    </p>
  </div>
</section>