<header>
  <h1>About Jake</h1>
</header>

<div class="row">

  <div class="col-md-4">
    <%= image_tag "katyaJake.jpg", width: 300, alt: "Picture of me and my beautiful girlfriend" %>
  </div>

  <div class="offset-md-2 col-md-6 center">
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Architecto at dolorem error id iusto, laboriosam minus neque, nostrum odio
      porro quaerat recusandae reprehenderit similique sunt vel! Et in quam qui,
      quisquam quo repudiandae saepe sit ullam vitae voluptas? Aliquid ea error
      fugiat harum ipsa laudantium maiores maxime nostrum suscipit velit .
    </p>
  </div>

</div>
